https://docs.google.com/document/d/1qJaeuC4Fddou_Ts2Lea0UHjrzgy8aSzY6ACCvUwuTe4/edit

In [1]:
import pandas as pd

In [2]:
esg_df = pd.read_csv('esg.csv')
co2_df = pd.read_csv('co2_metric_tons_per_capita.csv')
gdp_df = pd.read_csv('gdp_per_capita.csv')
cul_df = pd.read_csv('culture.csv')

In [3]:
esg_df.head(5)

       Country  Mean of ESG
0       Sweden        0.629
1      Iceland        0.620
2       Norway        0.619
3  Switzerland        0.617
4      Finland        0.616